.texth1{
          color: red;
          font-size: 40px;
          margin-top: 20px;
          margin-left: 20px;
          font-family: "BPG Nino Mtavruli", sans-serif;
}
a{
text-decoration: none;
color: black;


 
}
.l1{
          margin-top: 10px;
          margin-left: 20px;
          font-size: 20px;
          color: blue;
          
          
}
.img1{
          margin-top: 27px;
          display: block;
          position: relative;
          padding-left: 10px;
}
.img2{
          margin-left: 10px;
          margin-top: 15px;
}
.img3{
          margin-left: 20px;
}
.comment{
          position: absolute;
         margin-top: -400px;
         margin-left: 15px;
         color: white;
         font-size: 30px;
}
li:hover{
         color: red;
}
.date{
          /* width: 56px; */
          /* height: 56px; */
          background-color: blue;
          padding: 5px;
          font-size: 38px;
          color: white;
          width: 50px;
          margin-left: 20px;
          margin-top: 10px;
          font-family: "BPG Nino Mtavruli", sans-serif;
         }
.month{
          font-size: 22px;
          margin-top: 8px;
          margin-left: 20px;
          color: blue;
 }
 .article-title{
           font-size: 20px;
          margin-left: 20px;
           margin-top: 25px;
           font-family: "BPG Nino Mtavruli", sans-serif;
 }
 .img4{
           margin-top: 15px;
           margin-left: 20px;
 }
 .par{
           margin-top: 30px;
           margin-left: 20px;
           font-size: 16px;
           line-height: 22px;
 }
 .feature-block{
           margin-top: 120px;
 }
 .feature-heading{
           font-size: 24px;
           font-family: "BPG Nino Mtavruli", sans-serif;
           margin-bottom: 35px;
           margin-left: 15px;

 }
 .link{
    

 }
 .feature-item{
           width: 500px;
           background-color: #f2f2f2;
           padding: 15px 25px 40px 15px;
           margin-left: 15px;
           display: inline-block
           

 }
 .title{
           font-size: 22px;
           color:#3d58a6;
           font-family: "BPG Nino Mtavruli", sans-serif;
           margin-bottom: 20px;
           margin-left: 10px;
 }
 .content-img{
           width: 100px;
           margin: auto 60px auto 25px;
           display: inline-block;
           vertical-align:  bottom;+
           }
 .content-p{
           display: inline-block;
           width: calc(100% - 200px);
          vertical-align:  top;
          font-size: 20px;
          line-height: 24px;
 }
 .contact-selection{
          margin-left: 15px;
                     
         background-color: #e6e6e6;
 }
 .contact{
       font-size: 20px;
       font-family: "BPG Nino Mtavruli" sans-serif;
       color: #0b41e4;
       margin-left: 1px;

      
       }
.key{
      color: #808080;    
}
.im1{
          margin-left: 15px;
          margin-top: 200px;

}
.im2{
          margin-left: 35px;  
}
.row{
          margin-top: 5px;
}
.map{
         
          margin-left: 3px;
          width: 1000px;
          margin-top: 15px;
                    
          height: 400px;
}
